<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>x</key>
		<integer>820</integer>
		<key>y</key>
		<integer>110</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>x</key>
		<integer>585</integer>
		<key>y</key>
		<integer>110</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>x</key>
		<integer>440</integer>
		<key>y</key>
		<integer>110</integer>
	</dict>
	<key>4</key>
	<dict>
		<key>x</key>
		<integer>275</integer>
		<key>y</key>
		<integer>110</integer>
	</dict>
	<key>5</key>
	<dict>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>110</integer>
	</dict>
	<key>6</key>
	<dict>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>205</integer>
	</dict>
	<key>7</key>
	<dict>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>275</integer>
	</dict>
	<key>8</key>
	<dict>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>340</integer>
	</dict>
	<key>9</key>
	<dict>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>465</integer>
	</dict>
	<key>10</key>
	<dict>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>600</integer>
	</dict>
	<key>11</key>
	<dict>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>600</integer>
	</dict>
	<key>12</key>
	<dict>
		<key>x</key>
		<integer>365</integer>
		<key>y</key>
		<integer>600</integer>
	</dict>
	<key>13</key>
	<dict>
		<key>x</key>
		<integer>455</integer>
		<key>y</key>
		<integer>600</integer>
	</dict>
	<key>14</key>
	<dict>
		<key>x</key>
		<integer>605</integer>
		<key>y</key>
		<integer>600</integer>
	</dict>
	<key>15</key>
	<dict>
		<key>x</key>
		<integer>820</integer>
		<key>y</key>
		<integer>600</integer>
	</dict>
	<key>16</key>
	<dict>
		<key>x</key>
		<integer>820</integer>
		<key>y</key>
		<integer>510</integer>
	</dict>
	<key>17</key>
	<dict>
		<key>x</key>
		<integer>820</integer>
		<key>y</key>
		<integer>415</integer>
	</dict>
	<key>18</key>
	<dict>
		<key>x</key>
		<integer>705</integer>
		<key>y</key>
		<integer>415</integer>
	</dict>
	<key>19</key>
	<dict>
		<key>x</key>
		<integer>820</integer>
		<key>y</key>
		<integer>320</integer>
	</dict>
	<key>20</key>
	<dict>
		<key>x</key>
		<integer>820</integer>
		<key>y</key>
		<integer>690</integer>
	</dict>
	<key>21</key>
	<dict>
		<key>x</key>
		<integer>820</integer>
		<key>y</key>
		<integer>750</integer>
	</dict>
	<key>22</key>
	<dict>
		<key>x</key>
		<integer>820</integer>
		<key>y</key>
		<integer>840</integer>
	</dict>
	<key>23</key>
	<dict>
		<key>x</key>
		<integer>820</integer>
		<key>y</key>
		<integer>945</integer>
	</dict>
	<key>24</key>
	<dict>
		<key>x</key>
		<integer>820</integer>
		<key>y</key>
		<integer>1035</integer>
	</dict>
	<key>25</key>
	<dict>
		<key>x</key>
		<integer>635</integer>
		<key>y</key>
		<integer>945</integer>
	</dict>
	<key>26</key>
	<dict>
		<key>x</key>
		<integer>550</integer>
		<key>y</key>
		<integer>945</integer>
	</dict>
	<key>27</key>
	<dict>
		<key>x</key>
		<integer>450</integer>
		<key>y</key>
		<integer>945</integer>
	</dict>
	<key>28</key>
	<dict>
		<key>x</key>
		<integer>365</integer>
		<key>y</key>
		<integer>945</integer>
	</dict>
	<key>29</key>
	<dict>
		<key>x</key>
		<integer>365</integer>
		<key>y</key>
		<integer>845</integer>
	</dict>
	<key>30</key>
	<dict>
		<key>x</key>
		<integer>365</integer>
		<key>y</key>
		<integer>745</integer>
	</dict>
	<key>31</key>
	<dict>
		<key>x</key>
		<integer>365</integer>
		<key>y</key>
		<integer>700</integer>
	</dict>
	<key>32</key>
	<dict>
		<key>x</key>
		<integer>245</integer>
		<key>y</key>
		<integer>945</integer>
	</dict>
	<key>33</key>
	<dict>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>945</integer>
	</dict>
	<key>34</key>
	<dict>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>1030</integer>
	</dict>
	<key>35</key>
	<dict>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>850</integer>
	</dict>
	<key>36</key>
	<dict>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>765</integer>
	</dict>
	<key>37</key>
	<dict>
		<key>x</key>
		<integer>135</integer>
		<key>y</key>
		<integer>685</integer>
	</dict>
	<key>38</key>
	<dict>
		<key>x</key>
		<integer>250</integer>
		<key>y</key>
		<integer>340</integer>
	</dict>
</dict>
</plist>
