<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>701</key>
	<integer>19</integer>
	<key>702</key>
	<integer>19</integer>
	<key>703</key>
	<integer>16</integer>
	<key>704</key>
	<integer>17</integer>
	<key>705</key>
	<integer>20</integer>
	<key>706</key>
	<integer>16</integer>
	<key>707</key>
	<integer>21</integer>
	<key>708</key>
	<integer>15</integer>
	<key>709</key>
	<integer>25</integer>
	<key>710</key>
	<integer>20</integer>
	<key>711</key>
	<integer>26</integer>
	<key>712</key>
	<integer>21</integer>
	<key>713</key>
	<integer>27</integer>
	<key>714</key>
	<integer>22</integer>
	<key>715</key>
	<integer>34</integer>
	<key>716</key>
	<integer>23</integer>
	<key>717</key>
	<integer>33</integer>
	<key>718</key>
	<integer>24</integer>
	<key>719</key>
	<integer>35</integer>
	<key>720</key>
	<integer>29</integer>
	<key>721</key>
	<integer>36</integer>
	<key>722</key>
	<integer>30</integer>
	<key>723</key>
	<integer>37</integer>
	<key>724</key>
	<integer>31</integer>
	<key>725</key>
	<integer>10</integer>
	<key>726</key>
	<integer>32</integer>
	<key>727</key>
	<integer>8</integer>
	<key>728</key>
	<integer>11</integer>
	<key>729</key>
	<integer>7</integer>
	<key>730</key>
	<integer>14</integer>
	<key>731</key>
	<integer>6</integer>
	<key>732</key>
	<integer>14</integer>
	<key>733</key>
	<integer>4</integer>
	<key>734</key>
	<integer>13</integer>
	<key>735</key>
	<integer>3</integer>
	<key>736</key>
	<integer>13</integer>
	<key>737</key>
	<integer>3</integer>
	<key>738</key>
	<integer>12</integer>
	<key>739</key>
	<integer>2</integer>
	<key>740</key>
	<integer>12</integer>
	<key>742</key>
	<integer>10</integer>
	<key>744</key>
	<integer>9</integer>
	<key>746</key>
	<integer>6</integer>
	<key>750</key>
	<integer>5</integer>
	<key>752</key>
	<integer>5</integer>
	<key>754</key>
	<integer>4</integer>
	<key>756</key>
	<integer>3</integer>
	<key>758</key>
	<integer>2</integer>
	<key>760</key>
	<integer>1</integer>
	<key>wc1</key>
	<integer>22</integer>
	<key>wc2</key>
	<integer>9</integer>
	<key>lift1</key>
	<integer>18</integer>
	<key>lift2</key>
	<integer>38</integer>
</dict>
</plist>
