<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>10</key>
	<integer>33</integer>
	<key>9</key>
	<integer>28</integer>
	<key>8</key>
	<integer>23</integer>
	<key>7</key>
	<integer>10</integer>
	<key>6</key>
	<integer>12</integer>
	<key>5</key>
	<integer>15</integer>
	<key>4</key>
	<integer>38</integer>
	<key>3</key>
	<integer>18</integer>
	<key>2</key>
	<integer>5</integer>
	<key>1</key>
	<integer>1</integer>
</dict>
</plist>
